.card{
  display: flex;
  position: relative;
  background: linear-gradient(to left, #c8e7ff 0%, #ffcbf2 100%);
  margin-bottom: 10px 30px 55px 30px;
  border-radius: 8px;
  width:500px;
  height: 350px;
  border: 5px solid red;
  margin-bottom: 20px;
  box-sizing: border-box; 
  }

  .cardLeft{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .cardRight{
    width: 70%;
    display: flex;
  }

  .btn {
    color: rgb(255, 255, 255);
    background: #3C3C3C;
    border-radius: 6px;
    transition: all 0.5s;
    position: absolute;
    width: 100PX;
    height: 35PX;
    margin: 10px 0 0 10px;

   
  }
  span{
    font-family: sans-serif;
    font-size: medium;
    
  }
  .btn:hover{
    background: #fafd7cff;
    color:  transparent;
    border-radius: 6px;
    cursor: pointer;
    /* #e762d7ff rosadito */
  }
  .btn span:hover{
    color: transparent;
    cursor: pointer;

  }
  .btn::before {
    content: '';
    position: absolute;
    border-radius: 6px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .btn::after {
    content: '';
    position: absolute;
    border-radius: 6px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .btn:hover::before {
    transform: rotate(-45deg);
    background-color: #e762d7ff;
    border-radius: 6px;
    cursor: pointer;

  }
  .btn:hover::after {
    transform: rotate(45deg);
    background-color:#b7e4f9ff;
    border-radius: 6px;
    cursor: pointer;

  }
  .descriptionAll{
  margin: 60px 10px 10px 20px;
  width: 50%;
  }
  
  .name{
   font-family: sans-serif;
   font-size: xx-large;
  }
  
  .img {
    display: flex;
    border-radius: 8px;
    /* max-width: 300px;
    height: 300px ; */
    width: 80%;
    margin: auto;
    margin-right: 20px;
    object-fit: cover;
  }
